html, body {

	font-family: Arial, Helvetica, sans-serif;

}

h3 {
	background-color: #404088;
	color: #FFFFFF;
	text-indent:20px;
	border-radius: 20px;
}

.tutorial {
	height: 50px;
	border-style: solid;
	border-color: maroon;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	color: #FFFFFF;
	padding-top: 20px;
}

.syllabusHeader, .assignment {

	border-style: solid;
	border-color: maroon;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	color: #000000;
	padding: 20px;

}
.assignment {
	text-align: left;
}

.conceptHeader {
	background-color:#994099;;
}

.deem {
	color: grey;
}