html, body {
	color: rgb(0, 0, 0);  
	background-color: rgb(214, 214, 214);
}

#foo {
  display: block;
  position: relative;
  /* background: url(../resources/anclab_header.jpg); */
}

/* #foo::after { */
#name {
	padding-left: 10px;
  content: "";
  color: white;

  top: 0;
  left: 0;

  position: absolute;

}