body {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	background-color: #606099;
	color: #FFFFFF;
	text-indent:20px;
	border-radius: 20px;
}

.factoid,
.tipoid{
  position: relative;
  padding-left: 25px;
}
.factoid:before,
.tipoid:before {
  position: absolute;
  top: -5px;
  left: -10px;
  text-transform: uppercase;
  -webkit-transform: rotateZ(-30deg);
  -moz-transform: rotateZ(-30deg);
  -o-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
  color: rgb(237, 71, 50);
  font-weight: bold;
  content: "Fact";
}

table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
th, td {
      padding: 5px;
      text-align: left;
  }